<div class="column is-4">
  <nav class="panel">
    <p class="panel-heading">Profile</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="media-left">
            <p class="image is-64x64">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, size: '64x64' %>
              <% else %>
                <img src="https://bulma.io/images/placeholders/64x64.png">
              <% end %>
            </p>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="<%= profile_path(current_user.username) %>"><strong><%= current_user.name %></strong></a><br>
              <small><%= current_user.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Tweets</p>
            <p class="title is-6"><%= current_user.tweets.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Following</p>
            <p class="title is-6"><%= Following.where(user_id: current_user.id).count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Followers</p>
            <p class="title is-6"><%= Following.where(following: current_user.id).count %></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
